@import 'variables';
@import 'header';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: $color-principal;
    font-family: $fuente-principal;
}

/* inicio main home */

main {
    display: flex;
    background-color: $color-principal;
    background-size: cover;
    flex-direction: column;
    text-align: center;
    min-height: 78vh;
}

.main {
    background: url(../img/interiorcasa3.jpg);
    background-size: cover;
    flex-direction: column;
    text-align: center;
    padding-top: 7rem;

    h1 {
        color: $color-titulo;
        font-style: italic;
    }

    h3 {
        color: $color-texto;
        font-size: 25px;
    }

    .animate__zoomIn {
        animation-duration: 2s;
    }
}

.contenedor {
    background-color: $color-secundario;
}

/* fin main home */

/* inicio main nosotros */

.main2 {
    background: url(../img/disenointerior.png);
    padding-top: 10%;

    h2 {
        color: $color-titulo;
        font-style: italic;
    }

    p {
        color: $color-texto;
        font-style: italic;
    }
}

/* fin main nosotros */

/* inicio main proyectos */

.card-header {
    color: $color-titulo;
    text-align: center;
}

.carousel-item {
    height: 32rem;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    h5 {
        background-color: $color-secundario;
        width: 80%;
        margin: auto;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding-top: 3px;
    }

    p {
        background-color: $color-secundario;
        width: 80%;
        margin: auto;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding-bottom: 1px;
    }
}

/* fin main proyectos */

/* inicio main metodologia */

.main4 {
    background: url(../img/casanieve.jpg);
    font-style: italic;

    .contenedor {
        border: 5px solid $color-secundario;
        border-bottom-right-radius: 5rem;
    }

    .metodologia {
        margin: auto;
        width: 80%;
    }

    ol {
        color: $color-texto;
    }

    .titlegreen {
        color: $color-titulo;
    }
}

/* fin main metodologia */

/*inicio main contacto */

.main5 {
    background: url(../img/vistamontana.jpg);
    background-size: cover;
    height: auto;

    section {
        max-width: 25rem;
        margin: auto;
        background-color: $color-secundario;
        border-radius: 3rem;
        padding: 5px;

        h2 {
            color: $color-titulo;
        }

        h3 {
            color: $color-texto;
        }

        .controls {
            width: 15rem;
            margin-bottom: 0.6rem;
            border-radius: 0.2rem;

            &:focus {
                border: 0.2rem solid $color-principal;
            }
        }

        .submit {
            &:hover {
                background-color: $color-titulo;
                transition: all, linear, 0.2s;
            }
        }
    }
}

/* fin main contacto */

/* menú mobile */

@media all and (min-width: 781px) {

    #mobile-menu {
        display: none !important;
        background-color: $color-principal;
    }

}

@media all and (max-width: 780px) {
    .header {
        display: none !important;
    }

    #mobile-menu {
        display: inherit !important;
    }
}

.bg-personalizado {
    background-color: $color-principal !important;
}

.titlemobile {
    color: $color-titulo !important;
    text-align: center;
}

.listmobile {
    color: $color-texto !important;
    font-family: arvo !important;
}