@import 'variables';
@import 'header';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: $color-principal;
    font-family: $fuente-principal;
}

/* inicio main home */

main {
    display: flex;
    background-color: $color-principal;
    background-size: cover;
    flex-direction: column;
    text-align: map-get($estilo, Talign);
    min-height: 78vh;
}

.main {
    background: url(../img/interiorcasa3.webp);
    @include cover-centercenter-no-repeat;
    flex-direction: column;
    text-align: map-get($estilo, Talign);
    padding-top: 7rem;

    h1 {
        color: $color-titulo;
        font-style: map-get($estilo, Fstyle);
    }

    h3 {
        color: $color-texto;
        font-size: 25px;
    }

    .animate__zoomIn {
        animation-duration: 2s;
    }
}

.contenedor {
    background-color: $color-secundario;
}

/* fin main home */

/* inicio main nosotros */

.main2 {
    background: url(../img/disenointerior.webp);
    padding-top: 10%;
    font-style: map-get($estilo, Fstyle);
    @include cover-centercenter-no-repeat;

    h2 {
        color: $color-titulo;
    }

    p {
        color: $color-texto;
    }
}

/* fin main nosotros */

/* inicio main proyectos */

.card-header {
    color: $color-titulo;
    text-align: map-get($estilo, Talign);
    font-style: map-get($estilo, Fstyle);
}

.carousel-item {
    height: 32rem;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    h5 {
        background-color: $color-secundario;
        width: 80%;
        margin: auto;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding-top: 3px;
    }

    p {
        @extend h5;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

/* fin main proyectos */

/* inicio main metodologia */

.card-meto {
    background-image: url(../img/exteriorcasa.webp);
    @include cover-centercenter-no-repeat;
    .row{
        background-color: $color-secundario;
        .col-md-8{
            border-bottom: 0.1rem solid $color-titulo;
        }
        h5{
            color: $color-titulo;
            padding: 5px;
        }
        p{
            color: $color-texto;
            padding: 5px;
        }
    }
}

/* fin main metodologia */

/*inicio main contacto */

.main5 {
    background: url(../img/imgcontacto.webp);
    font-style: map-get($estilo, Fstyle);
    @include cover-centercenter-no-repeat;

    h3 {
        color: $color-titulo;
    }

    a {
        color: $color-texto;
    }

    p {
        color: $color-texto;
    }

    h4 {
        color: $color-texto;
    }

    i {
        font-size: 35px;
        color: $color-texto;
    }
    .info{
        margin: auto;
    }
}

.containerform {
    background-color: $color-secundario;
    padding: 30px;
    height: 78vh;

    label {
        color: $color-texto;
    }

    .btn {
        background-color: $color-texto !important;

        &:hover {
            background-color: $color-titulo !important;
            border-radius: 20px;
            transition: all, linear 0.3s;
        }
    }
}

/* fin main contacto */

/* menú mobile */

@media all and (min-width: 781px) {

    #mobile-menu {
        display: none !important;
        background-color: $color-principal;
    }

}

@media all and (max-width: 780px) {
    .header {
        display: none !important;
    }

    #mobile-menu {
        display: inherit !important;
    }
}

.bg-personalizado {
    background-color: $color-principal !important;
}

.titlemobile {
    color: $color-titulo !important;
    text-align: map-get($estilo, Talign);
}

.listmobile {
    color: $color-texto !important;
    font-family: arvo !important;
}