@charset "UTF-8";
header {
  background-color: #2d2d28;
  flex-direction: row;
  justify-content: center;
  border-bottom: 0.1rem solid whitesmoke; }
  header .navbar {
    background-color: transparent !important; }
  header img {
    height: 50px;
    width: 70px; }
  header nav ul {
    list-style-type: none; }
    header nav ul li {
      display: inline-block; }
      header nav ul li a {
        color: whitesmoke !important;
        text-decoration: none;
        margin: 15px;
        padding: 10px; }
        header nav ul li a:hover {
          background-color: #4e8547;
          border-radius: 20px;
          transition: all, linear 0.3s; }

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border-top: 0.1rem solid whitesmoke; }
  footer h3 {
    color: whitesmoke;
    font-size: 15px; }
  footer button {
    background-color: #2d2d28;
    border-style: none;
    font-size: 25px;
    letter-spacing: 10px; }
    footer button a {
      color: whitesmoke !important; }
    footer button:hover {
      font-size: 35px;
      transition: all, linear, 0.5s; }
  footer img {
    height: 60px;
    width: 100px; }

.bxl-whatsapp:hover {
  color: #25D366; }

.bxl-facebook-circle:hover {
  color: #0165e1; }

.bxl-instagram:hover {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  border-radius: 30%;
  height: 35px;
  width: 35px; }

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row; }
    footer h3 {
      font-size: 25px;
      margin: auto; }
    footer button {
      font-size: 30px; }
      footer button:hover {
        font-size: 40px; }
  .bxl-instagram:hover {
    height: 40px;
    width: 40px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  background-color: #2d2d28;
  font-family: arvo; }

/* inicio main home */
main {
  display: flex;
  background-color: #2d2d28;
  background-size: cover;
  flex-direction: column;
  text-align: center;
  min-height: 78vh; }

.main {
  background: url(../img/interiorcasa3.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  flex-direction: column;
  text-align: center;
  padding-top: 7rem; }
  .main h1 {
    color: #4e8547;
    font-style: italic; }
  .main h3 {
    color: whitesmoke;
    font-size: 25px; }
  .main .animate__zoomIn {
    animation-duration: 2s; }

.contenedor {
  background-color: rgba(45, 45, 40, 0.9); }

/* fin main home */
/* inicio main nosotros */
.main2 {
  background: url(../img/disenointerior.webp);
  padding-top: 10%;
  font-style: italic;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .main2 h2 {
    color: #4e8547; }
  .main2 p {
    color: whitesmoke; }

/* fin main nosotros */
/* inicio main proyectos */
.card-header {
  color: #4e8547;
  text-align: center;
  font-style: italic; }

.carousel-item {
  height: 32rem; }
  .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .carousel-item h5, .carousel-item p {
    background-color: rgba(45, 45, 40, 0.9);
    width: 80%;
    margin: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-top: 3px; }
  .carousel-item p {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }

/* fin main proyectos */
/* inicio main metodologia */
.card-meto {
  background-image: url(../img/exteriorcasa.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .card-meto .row {
    background-color: rgba(45, 45, 40, 0.9); }
    .card-meto .row .col-md-8 {
      border-bottom: 0.1rem solid #4e8547; }
    .card-meto .row h5, .card-meto .row .carousel-item p, .carousel-item .card-meto .row p {
      color: #4e8547;
      padding: 5px; }
    .card-meto .row p {
      color: whitesmoke;
      padding: 5px; }

/* fin main metodologia */
/*inicio main contacto */
.main5 {
  background: url(../img/imgcontacto.webp);
  font-style: italic;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .main5 h3 {
    color: #4e8547; }
  .main5 a {
    color: whitesmoke; }
  .main5 p {
    color: whitesmoke; }
  .main5 h4 {
    color: whitesmoke; }
  .main5 i {
    font-size: 35px;
    color: whitesmoke; }
  .main5 .info {
    margin: auto; }

.containerform {
  background-color: rgba(45, 45, 40, 0.9);
  padding: 30px;
  height: 78vh; }
  .containerform label {
    color: whitesmoke; }
  .containerform .btn {
    background-color: whitesmoke !important; }
    .containerform .btn:hover {
      background-color: #4e8547 !important;
      border-radius: 20px;
      transition: all, linear 0.3s; }

/* fin main contacto */
/* menú mobile */
@media all and (min-width: 781px) {
  #mobile-menu {
    display: none !important;
    background-color: #2d2d28; } }

@media all and (max-width: 780px) {
  .header {
    display: none !important; }
  #mobile-menu {
    display: inherit !important; } }

.bg-personalizado {
  background-color: #2d2d28 !important; }

.titlemobile {
  color: #4e8547 !important;
  text-align: center; }

.listmobile {
  color: whitesmoke !important;
  font-family: arvo !important; }
